name: snapshot

on:
  push:
    branches:
      - main
      - version-**

jobs:
  release:
    name: Test and Upload SnapShot
    runs-on: macos-latest
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}

      - name: Clean
        run: ./gradlew clean

      - name: Test (Multiplatform code, JVM only)
        run: ./gradlew jvmTest

      - name: Test (normal)
        run: ./gradlew test

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test_results
          path: |
            build/reports/tests/**
            */build/reports/tests/**
          retention-days: 10

      - name: Build
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_lightningKiteMavenAwsAccessKey: AKIARR4DEGXXROVKYNNP
          ORG_GRADLE_PROJECT_lightningKiteMavenAwsSecretAccessKey: ${{ secrets.MAVENS3SECRETKEY }}
        run: ./gradlew publishAllPublicationsToLightningKiteRepository
